
DATABASE_URL="postgresql://sweabhishek:sweAbhi1234@localhost:5432/RBAC_Auth"
JWT_ACCESS_SECRET="sadf1311322544ac4736edklajsdkjahsdkjhaskjdhaksjh"
JWT_REFRESH_SECRET="asdkjhaskjdhaskjdhaskjdhaskjdhaskjdhaskjdhaseew"

ACCESS_TOKEN_EXPIRY = "30m"
REFRESH_TOKEN_EXPIRY = "30d"
ALLOWED_ORIGINS = "http://localhost:5173"
DB_POOL_SIZE=5